.borderForm{
  border: 1px solid lightgrey;
  border-radius: 15px;
  margin-top: 8%;
}

.input-field label {
    color: #1b2b66;
}

.btn, .btn-large, .btn-small{
  background-color: #1B2B66;
  margin: 0 0 8px 0;
}

.btn:hover, .btn-large:hover, .btn-small:hover{
  background-color: #1B2B66;
  margin: 0 0 8px 0;
}
